{% extends "layout.html" %}
{% block content %}
<h1>About Page</h1>

<div style="font-size: 1.5em;padding: 20px;">THERE ARE SEVERAL INSTANCES WHEN PATIENTS ARE UNABLE TO GET PROPER
    TREATMENT DUE TO MANY
    PAPER-WORKS AND LACK
    OF THEIR MEDICAL HISTORY AND RECORDS. THUS, AN EFFECTIVE SOLUTION CAN BE EMBEDDING BIO-METRICS IN HEALTHCARE FOR
    PROPER IDENTIFICATION OF THE PATIENTS. EVEN EFFICIENT MAINTENANCE OF THEIR RECORDS WILL BE POSSIBLE BY LINKING
    IT TO THEIR RESPECTIVE AADHAR CARDS THUS CREATING A NATIONWIDE MEDICAL DATABASE WHICH WILL BE MAINTAINED BY THE
    GOVERNMENT AND UPDATED BY THE HOSPITALS ACROSS THE COUNTRY. FURTHERMORE, BY IMPLEMENTING THIS TECHNOLOGY WE
    WOULD BE ABLE TO ELIMINATE MANY MEDICAL FRAUDS.</div>
{% endblock content %}